:root {
  --bg: #edeef0;
  --light-blue-100: #DAE2EA;
  --blue-640: #4A76A8;
  --gray-80: #E7E8EC;
  --gray-120: #D3D9DE;
  --gray-400: #939393;
  --white: #ffffff;
  --link: #2A5885;
  --steel-gray-540: #626D7A;
  --steel-gray-400: #818C99;
  --red: #e64646;
  --black: #000000;
  --black-for-photo: #222222;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg);
  font-family: 'Roboto', sans-serif;
}

.bg {
  background: var(--white);
}

